.notify {
    min-width: 200px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    &__head{
        display: flex;
        column-gap: 10px;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #333;
        span{
            font-size: 18px;
            color: #000;
            font-weight: 700;
        }
    }
    &__body{
        margin-top: 10px;
    }
    .ant-btn {
        width: 40px !important;
        height: 40px;
        padding: 10px;
        background-color: orange;
        border: 1px solid #000;
        border-radius: 50%;
        span{
            font-size: 18px !important;
            font-weight: 700 !important;
        }
    }
}
