.home-introduce{
    width: 1200px;
    margin: 0 auto;
}
.button-excercise {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    margin-right: 20px;
    cursor: pointer;
}